[Unit]
Description=HomeServer Monitor Discord Bot
After=network.target

[Service]
Type=simple
User=teddybare
WorkingDirectory=/home/teddybare/discord-bot24
ExecStart=/home/teddybare/discord-bot24/venv/bin/python bot.py
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1

StandardOutput=journal
StandardError=journal
SyslogIdentifier=homeserver-monitor-bot

[Install]
WantedBy=multi-user.target
